[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# This is for sorted containers, like SortedDict
sortedcontainers = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.12"
